@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap");

:root {
  --gunmetal: #022b3a;
  --seaweed: #1f7a8c;
  --blue: #bfdbf7;
  --white: #ffffff;
}

.container {
  background-color: var(--gunmetal);
  color: var(--blue);
  opacity: 90%;
  border-radius: 20px;
  padding: 5px 0px 5px 15px;
  font-family: "Open Sans", sans-serif;
  border: 2.5px solid var(--blue);
}

.dropbtn {
  background-color: var(--gunmetal);
  color: var(--blue);
  padding: 8px;
  border: none;
  font-family: "Open Sans", sans-serif;
}

.dropdown {
  position: static;
  display: inline-table;
}

.dropdown-content {
  display: none;
  z-index: 1;
  position: relative;
  background-color: var(--seaweed);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.849);
  border-radius: 10px;
}

.dropdown-content a {
  color: var(--gunmetal);
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: var(--white);
  color: var(--gunmetal);
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  display: none;
}

body {
  background-image: url("/pics/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: var(--gunmetal);
  color: var(--blue);
  opacity: 90%;
  border-radius: 20px;
  margin: 5px;
  border: 2.5px solid var(--blue);
}

a {
  color: var(--blue);
  text-decoration: none;
}
h2 {
  font-family: "Righteous", cursive;
}
h1 {
  font-family: "Righteous", cursive;
}
a:hover {
  color: var(--seaweed);
  text-shadow: var(--blue);
  text-decoration: underline;
  font-size: 125%;
}

header a {
  font-family: "Open Sans", sans-serif;
}

footer {
  background-color: var(--gunmetal);
  color: var(--blue);
  opacity: 90%;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  border: 2.5px solid var(--blue);
  margin-top: 5px;
}

.tags__on__blog li {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px 5px 10px;
  background-color: var(--seaweed);
  color: var(--white);
  border-radius: 5px;
}

.tags__on__blog li:hover {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: var(--white);
  color: var(--gunmetal);
  border-radius: 5px;
}

input {
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

select {
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

button {
  margin-top: 10px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: var(--seaweed);
  color: var(--white);
  border: 2px dotted var(--blue);
}

button:hover {
  background-color: var(--white);
  color: var(--seaweed);
}

textarea {
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}
