<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>
<header>
    <h1>Blog Site</h1>
    <div class="dropdown">
        <button class="dropbtn">Navigate</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="/authors">Authors</a>
            <a href="/tags">Tags</a>
        </div>
    </div>
</header>
<body>
<div class="container">
    <h2 th:text="${authorName} + '\'s Blogs:'">John Doe</h2>
    <ul>
        <li th:each="blog: ${author.blogs}"><a th:text="${blog.blogTitle}" href="blog.html">Blog Title</a></li>
    </ul>
</div>
</body>
</html>
