<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Blog</title>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<header>
    <h1>Blog Site</h1>
    <div class="dropdown">
        <button class="dropbtn">Navigate</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="/authors">Authors</a>
            <a href="/tags">Tags</a>
        </div>
    </div>
</header>
<body>
<div class="container">
    <h2 th:text="${blog.blogTitle}">
        Blog Title
    </h2>
    <h3>Written by: <a th:text="${blog.author.name}" th:href="'/authors/' + ${blog.author.name}"> John Doe</a></h3>
    <h3 th:text="'Published: ' +${blog.publishDate}">Published: 22June2020</h3>
    <h3>Category: <a th:text="${blog.category.categoryName}" th:href="'/category/' + ${blog.category.categoryName}">
        Sports Blog</a></h3>
    <div>
        <h3>Tags:</h3>
        <ul>
            <li th:each="tag: ${blog.tags}"><a th:text="${tag.tagName}" th:href="'/tags/' +${tag.tagName}"> Funny</a>
            </li>
        </ul>
    </div>
    <form action="/blog/addTag" method="POST">
        <label for="add__a__tagName" class="form__label">Add your own tag:</label>
        <input type="text" name="tagName" id="add__a__tagName">
        <input type="hidden" th:value="${blog.blogTitle}" id="" name="blogTitle">
        <button>Add a Tag</button>
    </form>
    <h4 th:text="${blog.blogBody}">
        This is test blog content. This is test blog content.This is test blog
        content.This is test blog content.This is test blog content.This is test
        blog content.This is test blog content.This is test blog content.This is
        test blog content.This is test blog content.This is test blog
        content.This is test blog content.This is test blog content.
    </h4>
</div>
</body>
</html>
