<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Blog Website</title>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<header>
    <h1>Blog Site</h1>
</header>
<body>
<div class="container">
    <div>
        <p>Thanks for coming to our Blog. Choose a link to navigate to a list of applicable blogs.</p>
    </div>
    <div class="categories">
        <h2><a href="/categories">Categories</a></h2>
    </div>
    <div class="authors">
        <h2><a href="/authors">Authors</a></h2>
    </div>
    <div class="tags">
        <h2><a href="/tags">Tags</a></h2>
    </div>
</div>
</body>
</html>
