<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Blog Website</title>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<header>
    <h1>Blog Site</h1>
    <div class="dropdown">
        <button class="dropbtn">Navigate</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="/authors">Authors</a>
            <a href="/tags">Tags</a>
        </div>
    </div>
</header>
<body>
<div class="container">
    <div class="tags">
        <h2>Tags:</h2>
        <ul>
            <li th:each="tag: ${tags}"><a th:text="${tag.tagName}" th:href="'/tags/' + ${tag.tagName}">funny</a></li>
        </ul>
    </div>
</div>
</body>
<footer>
    <p>© L Double T Inc. | 2020</p>
</footer>
</html>